[Desktop Entry]
Type=Application
Name=Quick DNS Switcher
GenericName=DNS Switcher
Comment=System tray application to change DNS settings via NetworkManager on Linux distros
Exec=quick-dns-switcher
Icon=qds-quick-dns-switcher
Terminal=false
Categories=Network;Utility;
StartupNotify=false
StartupWMClass=quick-dns-switcher
NoDisplay=false
