Source: quick-dns-switcher
Section: net
Priority: optional
Maintainer: gmeme <guille0596@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/gmm96/Quick-DNS-Switcher

Package: quick-dns-switcher
Architecture: all
Depends: python3, python3-pyqt6, network-manager, python3-dbus
Description: System tray application to change DNS settings via NetworkManager on Linux distros.
